SECRET_KEY=django-insecure-do-not-use-0000000000
DATABASE_URL=mysql://admin:Pa55w0rd!@db.internal:3306/prod
AWS_ACCESS_KEY_ID=AKIAIOSFODNN7EXAMPLE
AWS_SECRET_ACCESS_KEY=wJalrXUtnFEMI/K7MDENG/bPxRfiCYEXAMPLEKEY
GITHUB_TOKEN=ghp_CCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCC2222
PRIVATE_KEY="-----BEGIN RSA PRIVATE KEY-----\nMIIEpAIBAAKCAQEAv\n-----END RSA PRIVATE KEY-----"
